* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profile-section {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#slack {
  visibility: hidden;
  text-align: center;
}
#twitter {
  text-align: center;
  margin-top: 1rem;
  margin-left: -1.7rem;
}
.share {
  margin-left: auto;
  border: none;
  background-color: #fff;
}
.img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  /* background-color: blue; */
  margin: 0 auto;
}
.desktop {
  display: none;
}
.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
